
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div id="app">
    <input v-model="name" placeholder="输入名字" />
    <select v-model="gender">
        <option value="">全部</option>
        <option value="1">男</option>
        <option value="2">女</option>
    </select>
    <input type="date" v-model="begin" />
    <input type="date" v-model="end" />
    <button @click="query">查询</button>

    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>性别</th>
                <th>头像</th>
                <th>部门</th>
                <th>等级</th>
                <th>开始时间</th>
                <th>最后时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="emp in empList" >
                <td>{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.gender === 1 ? '男' : '女' }}</td>
                <td><img :src="emp.image" alt="头像" width="70" height="50"></td>
                <td>部门{{ emp.deptId }}</td>
                <td>{{ emp.job }}</td>
                <td>{{ emp.entryDate }}</td>
                <td>{{ emp.updateTime }}</td>
                <td>
                    <button class="btn btn-primary" @click="openEditDialog(emp)">编辑</button>
                    <button class="btn btn-danger" @click="deleteEmp(emp)">删除</button>
                </td>
    </table>
    <button class="btn btn-primary" @click="previousPage">上一页</button>
    <button class="btn btn-primary" @click="nextPage">下一页</button>

</div>
<script>
new Vue({
    el: '#app',
    data: {
        empList: [],
        page:1,
        pageSize:10,
        totalPages:0,
        name:'',
        gender:'',
        begin:'',
        end:''
    },
    created() {
        this.loadEmpList();
    },
    methods: {
        loadEmpList() {
            axios.get('/emps',{
                params:{
                    page:this.page,
                    pageSize:this.pageSize,
                    name:this.name,
                    gender:this.gender,
                    begin:this.begin,
                    end:this.end
                }
            }).then(res => {
                if (res.data.code === 1) {
                    this.empList = res.data.data.rows;
                    this.totalPages = res.data.data.total/this.pageSize;
                }
            });
        },
        previousPage() {
            if (this.page > 1) {
                this.page--;
                this.loadEmpList();
            }
        },
        nextPage() {
            if(this.page < this.totalPages){
                this.page++;
                this.loadEmpList();
            }
        },
        query(){

            this.loadEmpList();
        }
    }
});
</script>