<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuliu.heima.demos.web.mapper.EmpExprMapper">
    <insert id="add"  >
        insert into emp_expr(emp_id,begin,end,company,job)  values
        <foreach collection="empExprList"  item="expr" separator=",">
            (#{expr.empId},#{expr.begin},#{expr.end},#{expr.company},#{expr.job})
        </foreach>
    </insert>
</mapper>