<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuliu.heima.demos.web.mapper.EmpMapper">
    <select id="list" resultType="org.yuliu.heima.demos.web.pojo.Emp">
        select e.* ,d.name deptName  from emp as e left join dept as d on e.dept_id = d.id
        <where>
            <if test="name !=null and name !=''">
                e.name like concat('%',#{name},'%')
            </if>
            <if test="gender!=null">
                and e.gender = #{gender}
            </if>
            <if test="begin!=null ">
                and e.entry_date >= #{begin}
            </if>
            <if test="end!=null  ">
                and e.entry_date &lt;= #{end}  <!--   xml里不能用<    换成转义字符&lt;    -->
            </if>
        </where>
    </select>

    <select id="add"  >
        insert into emp(name,gender,image,job,entry_date,create_time,update_time,dept_id)
        values(#{name},#{gender},#{image},#{job},#{entryDate},#{createTime},#{updateTime},#{deptId})
    </select>

</mapper>